name: Build
on:
  push:
    branches:
      - '**'
  pull_request:
    branches: 
      - master
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Check Lint
        run: sudo ./gradlew lintDebug
      - name: Run tests
        run: sudo ./gradlew test
      - name: Build with Gradle
        run: sudo ./gradlew build
